.cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cart-nav {
    width: 100dvw;
    height: 77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(0deg, rgb(46, 24, 24), #68513f);

    @media (min-width: 768px) {
      width: 100dvw;
      height: 80px;
    }

    h2 {
      color: var(--bg);
    }
  }

  .cart-list {
    display: flex;
    flex-direction: column;

    .cart-item {
      width: 90dvw;
      height: 100% !important;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem;
      margin: 1.5rem 0;
      border-radius: 7px;
      box-shadow: var(--shadow-card);
      background-color: var(--bg-card);

      @media (min-width: 768px) {
        width: 300px;
        margin: 1rem 0;
      }

      .item-info {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .item-name-cart {
          font-size: 1.1rem;
          line-height: 110%;
          font-family: "Inter", sans-serif;
          color: var(--text-title);
        }

        .unit-price {
          font-size: 1rem;
          font-weight: 300;
          font-family: "Inter", sans-serif;
          color: var(--text);
          margin-bottom: 0.7rem;
        }

        .subtotal {
          font-weight: bold;
          font-family: "Inter", sans-serif;
          color: var(--text);
        }
      }

      .cart-actions {
        width: 30%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .quantity-controls {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          button {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            background-color: var(--accent);
            color: var(--bg);
            font-size: 1rem;
            cursor: pointer;
          }

          .quantity-cart {
            width: 20px;
            text-align: center;
            font-size: 1.1rem;
            font-weight: 500;
          }

          .trash-icon {
            color: var(--bg);
          }
        }
      }

      .btn-remove {
        width: 100%;
        height: 25px;
        border: none;
        background-color: var(--text-title);
        color: var(--bg);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .cart-summary {
    width: 90dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      width: 300px;
    }

    h3 {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-radius: 7px;
      background-color: var(--text-title);
      font-size: 1.2rem;
      color: var(--bg);
      margin: 1rem 0 3rem 0;
    }

    .btn-secondary {
      width: 100%;
      padding: 10px 50px;
      color: var(--text);
      border-radius: 7px;
      background-color: var(--accent);
      font-size: 1.2rem;
      cursor: pointer;
      text-decoration: none;
      margin: 0rem 0 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;

      &:visited {
        background-color: var(--accent);
        color: var(--text);
      }
    }

    .btn-whatsapp {
      width: 100%;
      padding: 10px 0;
      margin-bottom: 2rem;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: var(--text);
      font-size: 1.2rem;
      background-color: var(--text-h);

      .whatsapp-icon {
        margin-right: 8px;
        font-size: 1.2rem;
      }
    }
  }
}

.empty-cart {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(
      0deg,
      rgb(104, 70, 51, 0.93) 15%,
      rgba(254, 223, 191, 0.93) 100%
    ),
    url("../../assets/bgEmpty.jpg");
  background-size: cover;
  background-position: center;

  .logo-ngo {
    width: 25%;
    margin-top: -5rem;
    margin-bottom: 5rem;

    @media (min-width: 768px) {
      width: 20%;
    }

    @media (min-width: 1280px) {
      width: 10%;
      margin-top: -1rem;
      margin-bottom: 3rem;
    }
  }

  img {
    width: 90%;

    @media (min-width: 768px) {
      width: 60%;
    }

    @media (min-width: 1280px) {
      width: 40%;
    }
  }

  h2 {
    font-size: 1.7rem;
    margin-top: 3rem;
    color: var(--bg);
  }

  .btn-empty {
    width: fit-content;
    padding: 10px 50px;
    color: var(--bg);
    background-color: var(--bg-dark);
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 3rem;
    text-decoration: none;
    border-radius: 7px;

    @media (min-width: 1280px) {
      font-size: 1rem;
    }

    &:visited {
      background-color: var(--bg-dark);
      color: var(--bg);
    }
  }
}
