.cat-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);

  .cat-nav {
    width: 100dvw;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    font-family: "Inter", sans-serif;
  }

  .products-container {
    width: 92dvw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}
